* {
  overflow: visible;
  scrollbar-width: none;
}


body {
  margin: 0;
  background: linear-gradient(160deg, #0a0a0a, #141414);
  min-height: 100vh;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 15vh;
}


.title {
  background: linear-gradient(20deg, #000000, #da0553de, rgba(65, 0, 27, 0.898) 60%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-stroke-width: .5px;
}


.subtitle,
.empty-msg {
  color: rgb(192, 14, 88);
}


.subtitle {
  filter: brightness(0.7);
  opacity: 0.8;
  font-style: italic;
  font-weight: 400;
}


.empty-msg {
  font-size: 0.85em;
  margin: 6%;
}



.joke-wrapper {
  display: grid;
  place-items: center;
}


.joke-card {
  place-items: center;
  margin: 2%;
  background: #141414f0;
  border-radius: 10px;
  color: rgb(243, 15, 159);
  padding: 0.45em;
  width: 100%;
  max-width: 400px;
}


.joke-msg {
  font-size: 0.95em;
}


.joke-cate {
  font-size: 0.85em;
  background: linear-gradient(80deg, #910745, #47011c, rgba(72, 4, 32, 0.595) 90%);
  padding: .35rem 1.2rem;
  border-radius: 999px;
  font-weight: 600;
}


.generate-btn {
  background: #141414f0;
  color: rgb(192, 14, 88);
  font-weight: 600;
  padding: 0.75em;
  border-radius: 10px;
  border: none;
  transition: all 0.3s;
}


.generate-btn:hover {
  color: rgb(213, 10, 78);
  cursor: pointer;
  box-shadow: 0px 0px 11px rgba(255, 0, 191, 0.083);
  transform: scale(1.05);
}


/* MOBILITY */
@media (max-width: 480px) {
    .subtitle {
      display: inline-block;
      width: 80%;
    }


    .joke-msg {
      font-size: .85rem;
    }


    .joke-card {
      width: 80%;
      margin-bottom: 7%;
    }
}