@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  overflow-y: visible;
  scrollbar-width: none;
}


body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Poppins';
  background-image: linear-gradient( 135deg, #ABDCFF 10%, #032dff 100%);
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-self: center;
  text-align: center;
  margin-top: 15vh;
  background: #ffff;
  padding: 2rem 3rem;
  width: 100%;
  max-width: 360px;
}


.title {
  color: #000000;
  font-size: .95rem;
}


.subtitle,
.empty-msg {
  color: #000000;
  font-size: .75rem;
}


.subtitle {
  filter: brightness(0.7);
  opacity: 0.8;
  font-style: italic;
  font-weight: 400;
}


.empty-msg {
  font-size: 0.85em;
  margin: 6%;
}



.joke-wrapper {
  display: grid;
  place-items: center;
}


.joke-card {
  place-items: center;
  margin: 2%;
  color: #000000;
  padding: 0.45em;
  width: 100%;
  max-width: 400px;
}


.joke-msg {
  font-size: 0.95em;
}


.joke-cate {
  font-size: 0.85em;
  padding: .35rem 1.2rem;
  border-radius: 5px;
  font-weight: 600;
}


.generate-btn {
  background: #1641ec;
  color: #ffff;
  font-weight: 600;
  padding: 0.75em;
  border: none;
  transition: all 0.3s;
}



/* MOBILITY */
@media (max-width: 360px) and (max-height: 640px) {
  .container {
      max-width: 300px;
      box-sizing: border-box;
    }


    .subtitle {
      display: inline-block;
      width: 80%;
    }


    .empty-msg, .joke-msg, 
    .joke-cate {
      font-size: .55rem;
    }

    .generate-btn {
      font-size: .65rem;
    }
}


@media (max-width: 480px) {

    .container {
      max-width: 300px;
      box-sizing: border-box;
    }


    .subtitle {
      display: inline-block;
      width: 80%;
    }


    .empty-msg, .joke-msg, 
    .joke-cate {
      font-size: .65rem;
    }

    .generate-btn {
      font-size: .65rem;
    }
}


@media (max-width: 600px) {
  .title {
    font-size: 1.4rem;
  }

  .empty-msg, .joke-msg, 
    .joke-cate {
      font-size: .85rem;
    }

    .generate-btn {
      font-size: .85rem;
    }
}